* {
  margin: 0px;
  padding: 0px;
}
/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header {
  
}
/* navbar section */
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style: none;
 max-width: 100%;
 
 height: 92px;
 background-color: rgb(26,11,46);
 padding: 10px 200px;
 
}
/* logo */

.logo .logopart-1 {
  color: #FFFFFF;
}
.logo .logopart-2 {
  background: linear-gradient(to top,#F7E93F,
    #FB09B4,
    #9100F8);
  -webkit-background-clip: text;
  color: transparent;
}
.lists li a {
    text-decoration: none;
     color: #FFFFFF;
     
}

.lists {
   list-style: none;
   display: flex;
  gap: 30px;
  
}
.btn_three_dot{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
/* button */
.button {
  background: linear-gradient( to top right,
    #F7E93F,
    #FB09B4,
    #9100F8);
  color: #FFFFFF;
  
  height: 44px;
  width: 135px;
  border: none;
  border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
  
  
}
.button .arrow{
 
  
  padding-left: 6px;
  padding-top: 1px;


  
}
.button .btn_title .arrow{
   display: flex;
  justify-content: center;
  align-items: center;
  
}
/* vanish button */
.three_dot{
  visibility: hidden;
}

/* hero section */
.bannar-cotainer {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1570px; */
    width: 100%;
  }
   .card_container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
     padding-top: 80px; 
    }
   
   
  
  .card_container .bannar_card_first_part  .circle {
   width: 300px;
   height: auto;
  }
  .card_container .bannar_card_first_part .microphone {
    width: 100px;
   height: auto;
  } 
   .card_container_btn {
    background-color: #00FF88;
    width: 80px;
    height: 38px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    margin-right: -200px;
    margin-top: -240px;
  } 
 .bannar_card_first_part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

} 

  
 .bannar_first_child {
  position: absolute;
  
} 
.bannar_title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 8px;
} 
 .bannar_subtitle {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 22px;
} 
.btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
} 
.listen_btn {
  background: linear-gradient(
     to top right,
    #F7E93F,
    #FB09B4,
    #9100F8);
  color: #FFFFFF;
  
  height: 44px;
  width: 201px;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
} 
 .subscribe_btn {
  color: #00FF88;
  height: 44px;
  width: 147px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: 1px solid #00FF88;
  
}
/* About Section */
.about_container {
  background-color: #1A0B2E;
  padding: 20px;
}
.about_title_container {
  
  text-align: center;
  
}
.about_title {
  font-weight: bold;
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.about_content {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 80px;
  text-align: center;
}
/* About container card section */
.number_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
}
.number_card {
  text-align: center;
}
.number_card h1 {
  color: #00FF88;
}
.number_card p {
  color: #FFFFFF;
}



/* Responsive for small and medium device */
@media screen and (max-width: 576px) {
  /* navbar section responsive*/
.navbar {

 max-width: 100%;
 padding: 20px;
 
}
.lists{
  display: none;
}

.button{
  display: none;
}
.three_dot{
  visibility: visible;
}
/* hero section responsive */
  .card_container {
        padding-top : 40px;
    height: 100%;
    background-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
   }
   .bannar-cotainer {
    max-width: 100%;
    background-position: center;
    background-size: cover;
   }
   .card_container .bannar_card_first_part .circle {
    width: 201px;
    height: 201px;
  }
  .card_container .bannar_card_first_part .microphone {
    width: 80px;
   height: 80px;
  }
  .card_container_btn {
    
    margin-right: -140px;
    margin-top: -160px;
  }
/* About_section_responsive */
/* About container card section */
.number_card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  place-items: center;
  
}
.break {
  display: none;
}
.about_title {
  font-size: 2rem;
}
}
  
  @media screen and (min-width: 576px) and (max-width: 768px){
    .navbar {

 max-width: 100%;
 padding: 20px;
 
}
.lists{
  display: none;
}
.button{
  display: none;
}
.three_dot{
  visibility: visible;
}

/* hero section responsive */
  .card_container {
        padding-top : 40px;
    height: 100%;
    background-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
   }
   .bannar-cotainer {
    max-width: 100%;
    background-position: center;
    background-size: cover;
   }
   .card_container .bannar_card_first_part .circle {
    width: 201px;
    height: 201px;
  }
  .card_container .bannar_card_first_part .microphone {
    width: 80px;
   height: 80px;
  }
  .card_container_btn {
    
    margin-right: -140px;
    margin-top: -160px;
  } 

  /* About_section_responsive */
/* About container card section */
.number_card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  place-items: center;
  
}
.break {
  display: none;
}
.about_title {
  font-size: 2rem;
}
}
  
  

