* {
  margin: 0px;
  padding: 0px;
}
/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header {
  
}
/* navbar section */
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style: none;
 max-width: 100%;
 
 height: 92px;
 background-color: #412567;
 padding: 10px 200px;
}
/* logo */

.logo .logopart-1 {
  color: #FFFFFF;
}
.logo .logopart-2 {
  background: linear-gradient(to top, rgb(249, 249, 10),rgb(224, 15, 123),rgb(241, 44, 241));
  -webkit-background-clip: text;
  color: transparent;
}
.lists li a {
    text-decoration: none;
     color: #FFFFFF;
     
}

.lists {
   list-style: none;
   display: flex;
  gap: 30px;
  
}
.btn_three_dot{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
/* button */
.button {
  background: linear-gradient(to right, rgb(231, 231, 15),rgb(224, 15, 123),rgb(241, 44, 241));
  color: #FFFFFF;
  padding-bottom: 2px;
  height: 44px;
  width: 135px;
  border: none;
  border-radius: 50px;
 
  
  
}
.button .arrow{
 
  
  padding-left: 6px;
  padding-top: 1px;


  
}
.button .btn_title .arrow{
   display: flex;
  justify-content: center;
  align-items: center;
  
}
/* vanish button */
.three_dot{
  visibility: hidden;
}


/* Responsive for small and medium device */
@media screen and (max-width: 576px) {
  
.navbar {

 max-width: 100%;
 padding: 20px;
 
}
.lists{
  display: none;
}
.button{
  display: none;
}
.three_dot{
  visibility: visible;
}
}
  @media screen and (min-width: 576px) and (max-width: 768px){
    .navbar {

 max-width: 100%;
 padding: 20px;
 
}
.lists{
  display: none;
}
.button{
  display: none;
}
.three_dot{
  visibility: visible;
}
}
  

